body { 
    font-family: Arial, sans-serif; 
    padding: 10px; 
    background-color: #f7cc6f;
    position: relative;
}
.title {
    text-align: center;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
}
.input-container { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
    width: 100%; /* Ensure full width */
}
input { 
    flex: 1; 
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    line-height: normal;
    color: #282828;
    box-sizing: border-box;
}
.copy-icon { 
    cursor: pointer; 
    margin-left: 5px; 
    width: 20px; 
    height: 20px; 
} 
.icon { 
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.label, .custom-link-name {
    min-width: 80px;
    max-width: 80px; /* Set a maximum width */
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.custom-link-name {
    outline: none;
    padding: 2px;
}

.custom-link-name[contenteditable="true"] {
    border-bottom: 1px solid #ccc;
}

.custom-link-name.empty:before {
    content: attr(data-placeholder);
    color: #888;
}

.custom-link-name:focus:before {
    content: '';
}

.custom-link-url {
    flex: 1;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    line-height: normal;
    color: #282828;
    box-sizing: border-box;
    min-width: 0; /* Allow input to shrink */
}

#settingsButton {
    margin-top: 10px;
    width: 100%;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
.short-input { 
    width: 50px; 
    margin-right: 5px; 
}
.bug-report {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}
.bug-icon {
    width: 20px;
    height: 20px;
}
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 3px 6px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-container .button-35 {
    margin: 0 5px; /* Add horizontal margin to buttons inside the container */
}

.button-container .button-35:first-child {
    margin-left: 0; /* Remove left margin from the first button */
}

.button-container .button-35:last-child {
    margin-right: 0; /* Remove right margin from the last button */
}

.button-35:hover {
    box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
}

.delete-button { 
    margin-left: 5px; 
}
.snackbar {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 2px;
}

.custom-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.edit-icon, .delete-icon, .copy-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.edit-icon, .delete-icon {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.auto-save-enabled {
    background-color: #4CAF50;
    color: white;
}

.auto-save-disabled {
    background-color: #f44336;
    color: white;
}
